html,
body,
#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    font-family: Segoe WPC, Segoe UI, sans-serif;
    font-size: var(--el-font-size-base);
    line-height: 1.4em;
    -webkit-user-select: none;
    user-select: none;
    background-color: black;
    color: var(--mm-color-text-primary);
}

@media (min-width: 1921px) {

    .item_container_content_title {
        height: 50px !important;
    }

    :root {
        --el-font-size-base: 18px !important;
    }

    .el-button {
        width: 100px;
        height: 40px;
    }

    .el-message-box{
        --el-messagebox-width:600px;
    }

    .el-message-box__content{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 2561px) {

    .item_container_content_title {
        height: 50px !important;
    }

    :root {
        --el-font-size-base: 18px !important;
    }

    .el-button {
        width: 100px;
        height: 40px;
    }
}

@media (min-width: 3500px) {

    .item_container_content_title {
        height: 50px !important;
    }

    :root {
        --el-font-size-base: 24px !important;
    }

    .el-button {
        width: 100px;
        height: 40px;
    }
}

/* 滚动条 ********************************/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


::-webkit-scrollbar-thumb {
    background-color: #bbb;
    background-clip: padding-box;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}